.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-image-1 {
  width: 106px;
  height: 134px;
  margin: 11px 0 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -134px auto 0;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}