 .u-section-1 {
  background-image: url("images/acd93c800b31da11360444b768ed38c6e45370b5e48967e9192f5348363c7cd6bb6b302d38de89d0f4a35c4243452205b986299b6f19c9928f112d_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-1 .u-group-1 {
  width: 1099px;
  min-height: 1034px;
  background-image: none;
  height: auto;
  margin: 95px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 106px;
  height: 134px;
  margin: 31px 30px 0 auto;
}

.u-section-1 .u-menu-1 {
  margin: -164px auto 0 44px;
}

.u-section-1 .u-nav-1 {
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
}

.u-section-1 .u-nav-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-1 {
  height: 156px;
  background-image: none;
  margin: 128px 30px 0 601px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -216px 372px 0 312px;
}

.u-section-1 .u-form-2 {
  height: 244px;
  background-image: none;
  margin: 5px 566px 0 65px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-table-1 {
  width: 1016px;
  margin: 65px auto 0 30px;
}

.u-block-0c0a-119 {
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 71px auto 0 88px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -46px auto 0 387px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -46px 53px 0 auto;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 9px auto 0 423px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-nav-1 {
    letter-spacing: normal;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 472px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 233px;
    margin-right: 293px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 472px;
    margin-left: 0;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 228px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 264px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1157px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 36px;
    margin-bottom: 58px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: 353px;
    margin-right: 143px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -441px;
    margin-right: 183px;
    margin-left: 123px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 143px;
    margin-left: 109px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 156px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 26px;
    margin-left: 10px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 8px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 53px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 93px;
    margin-left: 33px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 53px;
    margin-left: 19px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 176px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 154px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -564px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-2 {
    margin-top: 135px;
    margin-left: 0;
    margin-right: 0;
  }
}