 .u-section-1 {
  background-image: url("images/acd93c800b31da11360444b768ed38c6e45370b5e48967e9192f5348363c7cd6bb6b302d38de89d0f4a35c4243452205b986299b6f19c9928f112d_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 786px;
}

.u-section-1 .u-group-1 {
  width: 1099px;
  min-height: 658px;
  background-image: none;
  height: auto;
  margin: 93px auto 36px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 104px auto 0;
}

.u-section-1 .u-image-1 {
  width: 106px;
  height: 134px;
  margin: -140px 0 0 auto;
}

.u-section-1 .u-menu-1 {
  margin: -134px auto 0 24px;
}

.u-section-1 .u-nav-1 {
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
}

.u-section-1 .u-nav-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-1 {
  height: 420px;
  margin: 118px 80px 0 68px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -60px auto 0 80px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-nav-1 {
    letter-spacing: normal;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-menu-1 {
    width: auto;
    margin-top: -26px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 160px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-menu-1 {
    margin-top: -134px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}